<p class="jumbotron text-center">Representatives should speak for their constituents but that can only happen if Representatives know how their constituents feel. Luckily, in today’s connected world it’s easier than ever to reach out to members of Congress. Social media and email have given us new, quick ways to contact our representatives and we should all take advantage of this connected age. So search below and find out how to contact your representatives today!</p>
<form method="post" enctype="text/plain" class="form-inline">
  <div class="form-group">
    <label for="searchForRep">Zip Code:</label>
    <input type="text" class="form-control" id="searchForRep" ng-model="zipCode" placeholder="Zip Code (11216)">
  </div>
  <button ui-sref="reps" ng-click="search()" type="submit" class="btn btn-default">Submit</button>
</form>
