html {
  position: relative;
  min-height: 100%;
}

body {
  background: rgb(250, 250, 250);
  margin-bottom: 55px;
}

#Capa_1 {
  height: 75px;
  width: 75px;
  margin-right: 20px;
  vertical-align: middle;
}

.logo {
  height: 50px;
  margin: 10px;
}

.btn {
  color: rgb(250, 250, 250);
  background: #b5223d;
  border-color: #6E1525;
}

.btn:hover {
  color: rgb(250, 250, 250);
  background: #DB3E5A;
  border-color: #b5223d;
}

.btn:focus {
  color: rgb(250, 250, 250);
  background: #6E1525;
  border-color: rgb(130, 130, 130);
}

.panel-heading {
  background: #b5223d;
}

.footer {
  position: absolute;
  bottom: 10px;
  height: 45px;
}

.footer div {
  font-size: 0.7em
}
